$cpp-color-panel-border: #FF0000;
$cpp-color-panel-background: #FFFFFF;
$cpp-panel-caret-size: 10px;

.ui-collision-proof-panel {
  background: $cpp-color-panel-background;
  border: solid 1px $cpp-color-panel-border;
  display: none;
  padding: 10px;
  position: absolute;
  z-index: 100;

  &.ui-collision-proof-panel--visible {
    display: block;
  }
}

.ui-collision-proof-panel__heading {
  font-size: 24px;
}

.ui-collision-proof-panel__target[data-reveal-panel-on='click'] {
  cursor: pointer;
}

.ui-collision-proof-panel__target {
  position: relative;

  &.ui-collision-proof-panel--visible {
    z-index: 101;

    &:after,
    &:before {
      display: block;
    }
  }


  &:after {
    background: $cpp-color-panel-background;
    content: '';
    display: none;
    height: $cpp-panel-caret-size;
    left: 50%;
    margin-left: -($cpp-panel-caret-size * .8);
    position: absolute;
    top: -($cpp-panel-caret-size * 2.1);
    width: $cpp-panel-caret-size * 1.8;
  }

  &:before {
    background: $cpp-color-panel-background;
    border: solid 1px $cpp-color-panel-border;
    content: '';
    display: none;
    height: $cpp-panel-caret-size;
    left: 50%;
    margin-left: -($cpp-panel-caret-size / 2);
    position: absolute;
    top: -($cpp-panel-caret-size * 1.8);
    transform: rotate(45deg);
    width: $cpp-panel-caret-size;
  }

  &.ui-collision-proof-panel--position-flipped {
    &:after {
      bottom: -($cpp-panel-caret-size * 2.1);
      top: auto;
    }

    &:before {
      bottom: -($cpp-panel-caret-size * 1.8);
      top: auto;
    }
  }

  &[data-panel-position="bottom"] {
    &:after {
      bottom: -($cpp-panel-caret-size * 2.1);
      top: auto;
    }

    &:before {
      bottom: -($cpp-panel-caret-size * 1.8);
      top: auto;
    }

    &.ui-collision-proof-panel--position-flipped {
      &:after {
        bottom: auto;
        top: -($cpp-panel-caret-size * 2.1);
      }

      &:before {
        bottom: auto;
        top: -($cpp-panel-caret-size * 1.8);
      }
    }
  }

  &[data-panel-position="right"] {
    &:after {
      height: $cpp-panel-caret-size * 1.8;
      left: auto;
      margin-left: 0;
      margin-top: -($cpp-panel-caret-size * .8);
      right: -($cpp-panel-caret-size * 2.1);
      top: 50%;
      width: $cpp-panel-caret-size;
    }

    &:before {
      left: auto;
      margin-left: 0;
      margin-top: -($cpp-panel-caret-size / 2);
      right: -($cpp-panel-caret-size * 1.8);
      top: 50%;
    }

    &.ui-collision-proof-panel--position-flipped {
      &:after {
        left: -($cpp-panel-caret-size * 2.1);
        right: auto;
      }

      &:before {
        left: -($cpp-panel-caret-size * 1.8);
        right: auto;
      }
    }
  }

  &[data-panel-position="left"] {
    &:after {
      height: $cpp-panel-caret-size * 1.8;
      left: -($cpp-panel-caret-size * 2.1);
      margin-left: 0;
      margin-top: -($cpp-panel-caret-size * .8);
      top: 50%;
      width: $cpp-panel-caret-size;
    }

    &:before {
      left: -($cpp-panel-caret-size * 1.8);
      margin-left: 0;
      margin-top: -($cpp-panel-caret-size / 2);
      top: 50%;
    }

    &.ui-collision-proof-panel--position-flipped {
      &:after {
        left: auto;
        right: -($cpp-panel-caret-size * 2.1);
      }

      &:before {
        left: auto;
        right: -($cpp-panel-caret-size * 1.8);
      }
    }
  }
}
