@import '../mixins';

$font-family: 'Arial', 'Helvetica', sans-serif;
$border-color: #000000;
$border-width: 1px;
$tab-content-background-color: #FFFFFF;
$spacing-between-tabs: 10px;
$font-size-tabs: 16px;
$font-size-content: 16px;
$tab-padding: 2px 6px;
$content-padding: 10px 6px;

.ui-tabs {
  @include clearfix;
  box-sizing: border-box;
  // margin-bottom: $spacing-component-bottom;
  font-family: $font-family;
  position: relative;
  z-index: 1;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}

.ui-tabs__tab {
  display: inline;
  font-size: 0;
}

.ui-tabs__label {
  border: solid $border-width transparent;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-tabs;
  margin-right: $spacing-between-tabs;
  padding: $tab-padding;
  position: relative;
  text-align: center;
  vertical-align: bottom;
  z-index: 10;
}

.ui-tabs__radio-input {
  clip: rect(0 0 0 0);
  opacity: 0;
  position: fixed;
  z-index: -1;
}

.ui-tabs__panel {
  display: inline-block;
  height: 0;
  overflow: hidden;
  position: relative;
  width: 0;
}

.ui-tabs__content {
  background: $tab-content-background-color;
  border: solid $border-width $border-color;
  display: block;
  float: left;
  font-size: $font-size-content;
  padding: $content-padding;
  position: relative;
  top: -($border-width);
  width: 100%;
  z-index: 0;
}

.ui-tabs__radio-input:checked {
  + .ui-tabs__label {
    border-color: $border-color $border-color $tab-content-background-color;
  }

  ~ .ui-tabs__panel {
    display: inline;
  }
}
