{% macro more_menu_tabs_assets() %}
  <link rel="stylesheet" href="css/components/more_menu_tabs.css">
  <script src="js/components/more_menu_tabs.js"></script>
{% endmacro %}

{% macro more_menu_tabs(args) %}
  {% if args == undefined %}
    {% set args = {
      namespace: "ui-",
      tabs_name: 'tabs--more-menu',
      tabs: [
        {
          text: 'Long Tab Name Blah Blah Blah Blah Tab 1',
          id: 'mm-tab-1',
          checked: true,
          value: 'first'
        },
        {
          text: 'Tab 2',
          id: 'mm-tab-2',
          value: 'second'
        },
        {
          text: 'Tab 3',
          id: 'mm-tab-3',
          value: 'third'
        },
        {
          text: 'Tab 4',
          id: 'mm-tab-4',
          value: 'fourth'
        },
        {
          text: 'Tab 5',
          id: 'mm-tab-5',
          value: 'fifth'
        },
        {
          text: 'Tab 6',
          id: 'mm-tab-6',
          value: 'sixth'
        },
        {
          text: 'Tab 7',
          id: 'mm-tab-7',
          value: 'seventh'
        },
        {
          text: 'Tab 8',
          id: 'mm-tab-8',
          value: 'eighth'
        },
        {
          text: 'Tab 9',
          id: 'mm-tab-9',
          value: 'ninth'
        },
        {
          text: 'Tab 10',
          id: 'mm-tab-10',
          value: 'tenth'
        }
      ]
    }
    %}
  {% endif %}
  <div class="{{args.namespace}}more-menu-tabs {{args.namespace}}more-menu-tabs--more-menu">
    <div class="{{args.namespace}}more-menu-tabs__tab-wrap">
      {% for tab in args.tabs %}
        <section class="{{args.namespace}}more-menu-tabs__tab">
          <input class="{{args.namespace}}more-menu-tabs__radio-input" type="radio" id="{{tab.id}}" name="{{args.namespace}}{{args.tabs_name}}" value="{{tab.id}}" {{ 'checked' if tab.checked }}>
          <label class="{{args.namespace}}more-menu-tabs__label" for="{{tab.id}}">{{tab.text}}</label>
          <div class="{{args.namespace}}more-menu-tabs__panel">
            <div class="{{args.namespace}}more-menu-tabs__content">
              {% if tab.content %}
                {{ tab.content | safe }}
              {% else %}
                <h1>Tab {{ loop.index }} Content</h1>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas impedit alias, doloribus quibusdam amet magni id veniam a officia quod repudiandae consequuntur deleniti optio, placeat quisquam recusandae vero rerum eos.
                </p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas impedit alias, doloribus quibusdam amet magni id veniam a officia quod repudiandae consequuntur deleniti optio, placeat quisquam recusandae vero rerum eos.
                </p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas impedit alias, doloribus quibusdam amet magni id veniam a officia quod repudiandae consequuntur deleniti optio, placeat quisquam recusandae vero rerum eos.
                </p>
              {% endif %}
            </div>
          </div>
        </section>
      {% endfor %}
      <section class="{{args.namespace}}more-menu-tabs__tab {{args.namespace}}more-menu-tabs__tab--more">
        <label class="{{args.namespace}}more-menu-tabs__label {{args.namespace}}more-menu-tabs__label--more">
          <span class="{{args.namespace}}more-menu-tabs__label-text--more">More</span>
          <span class="{{args.namespace}}more-menu-tabs__more-menu-dropdown-indicator">&#9660;</span>
          <div class="{{args.namespace}}more-menu-tabs__more-menu">
            {% for tab in args.tabs %}
              <label class="{{args.namespace}}more-menu-tabs__more-menu-list-item" for="{{tab.id}}">{{tab.text}}</label>
            {% endfor %}
          </div>
        </label>
      </section>
    </div>
  </div>
{% endmacro %}
